@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
font-family: 'Indie Flower', cursive;
font-weight: bold;
font-size: 1.2rem;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(https://images.unsplash.com/photo-1543448360-6b80281205f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.container {
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  border-radius: 10px;
  border: 5px solid #f0e5e5;
  padding: 1rem
}


.bloco__texto {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.bloco__texto__h1 {
color: rgb(0, 0, 0);
font-size: 50px;
text-align: center;
}


.aviso {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  font-weight: 900;
  text-align: center;
}

.bloco__puts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.bloco__puts__input {
width: 100%;
margin: 10px 0;
padding: 5px;
overflow: hidden;
text-decoration: none;
border: 1px solid rgb(0, 0, 0);
box-shadow: 2px 2px rgba(0, 0, 0, 0.514);
text-align: center;
}

.bloco__puts__btn {
padding: 5px;
background-color: black;
color: whitesmoke;
border: 1px solid rgb(0, 0, 0);
box-shadow: 2px 2px rgba(0, 0, 0, 0.514);
cursor: pointer;
}

.resultado__pai {
  display: flex;
  justify-content: center;
  align-items: center;
}
